* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d61a6f;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/*Color for titles*/
h1, h2 {
    color: white;
}

/*Form style*/
form {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

/*Style input and section*/
input, select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-group {
    margin-top: 20px;
}

/*Button style*/
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

#generate {
    background-color: #d61a6f;
    color: white;
}

/*Ticket details*/
#ticket-details {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Table style*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
/*Header Style*/
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

/*Ticket details*/
.hidden {
    display: none;
}

